<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="customLoginSuccessHandler" class="com.fastcampus.trustRide.auth.handler.CustomLoginSuccessHandler" />
    <beans:bean id="customLoginFailureHandler" class="com.fastcampus.trustRide.auth.handler.CustomLoginFailureHandler" />
    <beans:bean id="customAuthProvider" class="com.fastcampus.trustRide.auth.provider.CustomAuthenticationProvider" />


    <authentication-manager alias="customAuthManager">
        <authentication-provider ref="customAuthProvider" />
    </authentication-manager>


    <http auto-config="true" use-expressions="true">

        <!-- 권한별 접근 -->
                <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
                <intercept-url pattern="/user/**" access="hasRole('USER')" />
        <intercept-url pattern="/**" access="permitAll" />

        <!-- 로그인 설정 -->
        <form-login
                login-page="/login.do"
                login-processing-url="/loginUser"
                username-parameter="userEmail"
                password-parameter="userPassword"
                authentication-success-handler-ref="customLoginSuccessHandler"
                authentication-failure-handler-ref="customLoginFailureHandler"
                authentication-failure-url="/login.do?error=true" />

        <!-- 로그아웃 설정 -->
        <logout logout-url="/logout"
                logout-success-url="/" />

        <!-- 예외 처리 -->
        <access-denied-handler error-page="/error403" />

        <!-- CSRF 비활성화 -->
        <csrf disabled="true" />
    </http>
</beans:beans>